<div class="d-flex">
  <!-- sidebar -->
  <div class="bg-primary border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs App</h3>
    <div class="list-group list-reset">
      <a href="#" class="list-group-item">
        DashBoard
      </a>
    </div>
  </div>
  <!-- fin sidebar -->
  <div class="container">
<div class="row p-3">
  <div class="col">
    <h5>Buscar:</h5>
    <input type="text" class="form-control" placeholder="Buscar Gifs">
  </div>
  
</div>
<hr>
<div class="row">
  <div class="col">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos neque dolore, quidem facilis itaque cupiditate perferendis? Saepe consequatur ea corporis. Quisquam in quam consequuntur alias commodi vero amet eligendi rerum?
  </div>
</div>
  </div>

</div>